.vscode
code_gen/*.yml
code_gen/*.c
aclocal.m4
.deps
/config
/autom4te.cache/
/nbproject/
Makefile
Makefile.in
*.log
/aclocal.m4
config.status
/configure
*.o
*.gz
*.a
/src/Makefile
/src/emu_8080
null.d